<ul class="nav" nz-menu nzMode="horizontal">
  <li nz-submenu nzTitle="实例管理" nzIcon="cluster">
    <ul>
      <li nz-menu-item>
        <i nz-icon nzType="api"></i>
        <span>创建实例</span>
      </li>
      <li nz-submenu nzTitle="连接实例" nzIcon="deployment-unit">
        <ul>
          <li nz-menu-item>阿里云缓存</li>
          <li nz-menu-item>腾讯云缓存</li>
          <li nz-menu-item>华为云缓存</li>
        </ul>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="quit()">
        <i nz-icon nzType="close"></i>
        <span>退出</span>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="控制台" nzIcon="control" nzDisabled>
    <ul>
      <li nz-menu-item>
        <i nz-icon nzType="fund"></i>
        <span>运行监控</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="code"></i>
        <span>打开终端</span>
      </li>
    </ul>
  </li>
</ul>

