<div class="workspace">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab *ngFor="let data of app.instance" [nzTitle]="workTitleRef">
      <ng-template #workTitleRef>
        {{ data }}
        <i nz-icon nzType="disconnect" (click)="app.closeInstance(data)" class="ant-tabs-close-x"></i>
      </ng-template>
      <nz-space>
        <nz-space-item>
          <button nz-button nzType="primary">
            <i nz-icon nzType="form"></i>
            新建
          </button>
        </nz-space-item>
        <nz-space-item>
          <nz-select
            nzShowSearch
            [(ngModel)]="select"
            (ngModelChange)="selectChange($event)"
            style="width: 100px"
          >
            <ng-container *ngFor="let database of databases">
              <nz-option [nzValue]="database" [nzLabel]="database"></nz-option>
            </ng-container>
          </nz-select>
        </nz-space-item>
        <nz-space-item>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width:300px">
            <input
              type="text"
              nz-input
              placeholder="请输入键名或匹配参数"
              [(ngModel)]="matchValue"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="getLists()">
              <i nz-icon nzType="search"></i>
            </button>
          </ng-template>
        </nz-space-item>
        <nz-space-item>
          <button nz-button nzType="default">
            <i nz-icon nzType="sync"></i> 清空条件
          </button>
        </nz-space-item>
        <nz-space-item>
          <button nz-button nzType="danger" [disabled]="true">
            <i nz-icon nzType="delete"></i> 选中删除
          </button>
        </nz-space-item>
      </nz-space>

      <nz-divider></nz-divider>

      <nz-table
        class="workspace-table"
        #basicTable
        [nzSize]="'small'"
        [nzData]="lists"
        [nzShowSizeChanger]="true"
      >
        <thead>
        <tr>
          <th
            nzWidth="80px"
            [nzChecked]="checked"
            [nzIndeterminate]="indeterminate"
          ></th>
          <th nzWidth="90px">类型</th>
          <th>键名</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr (contextmenu)="contextMenu($event, menu, data)">
            <td
              [nzChecked]="false"
            ></td>
            <td>
              <ng-container [ngSwitch]="data.type">
                <ng-container *ngSwitchCase="'STRING'">
                  <nz-tag [nzColor]="'green'">{{ data.type }}</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'LIST'">
                  <nz-tag [nzColor]="'orange'">{{ data.type }}</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'HASH'">
                  <nz-tag [nzColor]="'blue'">{{ data.type }}</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'SET'">
                  <nz-tag [nzColor]="'red'">{{ data.type }}</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'ZSET'">
                  <nz-tag [nzColor]="'purple'">{{ data.type }}</nz-tag>
                </ng-container>
              </ng-container>
            </td>
            <td>
              {{ data.key }}
            </td>
          </tr>
        </ng-container>

        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>
</div>

<nz-dropdown-menu #menu>
  <ng-container *ngIf="menuData">
    <ul nz-menu nzSelectable>
      <li style="color: #333" nz-menu-item nzDisabled>
        <b>{{menuData.key}}</b>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item>
        <i nz-icon nzType="field-time"></i>
        <span>设置有效期</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="edit"></i>
        <span>重命名</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="copy"></i>
        <span>创建副本</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="delete"></i>
        <span>删除</span>
      </li>
    </ul>
  </ng-container>
</nz-dropdown-menu>

